doctype html(lang='en')
head
    meta(charset='UTF-8')
    |   
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |   
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |   
    script(src='/socket.io/socket.io.js')
    |   
    script(src='main.js')
    |   
    title key-value
  body
    h1 Envio de datos clave-valor
    #dataView   
    br
    |   
    form(onsubmit='return addMessage(this)')
      input#key(type='text', placeholder='key')
      |     
      input#value(type='text', placeholder='value')
      |     
      input(type='submit', value='Enviar!')
    |   
    br
    |   
    #messages