doctype html(lang='en')
head
    title key-value
  body
    h1 Muestra de datos
    |   
    br
    if value
      h4 El valor de la clave "#{key}" es: #{value}  
    else
      h4 La key "#{key}" no tiene un valor